<% provide(:title, "Home") %>
<div class="center jumbotron wall">
  <h1>Seja bem-vindo ao <font color="#F6F8F8">Papelada</font></h1>

  <h2>
    Um link rápido entre você e a Secretaria.
    
  </h2>

  <%= link_to "Cadastre-se!", 'signup', class: "fontw btn btn-lg btn-primary" %>
</div>